/* footer styling */
.footer {
  background-color: #dedede8f;
  width: 100%;
  height: fit-content;
}

.footer .another-footer-container {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 22px;
}

.footer .another-footer-container .footer-text-wrapper {
  padding: 17px 0 11px;
  width: 100%;
  border-bottom: 1px solid #0000008e;
}

.footer .another-footer-container .footer-text-wrapper .footer-text-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
}

.footer
  .another-footer-container
  .footer-text-wrapper
  .footer-text-container
  li {
  width: 100%;
  padding: 0 0 9.6px;
  font-family: "SF Pro Display Regular";
  font-size: 12px;
  color: #0000008f;
}

.footer
  .another-footer-container
  .footer-text-wrapper
  .footer-text-container
  li
  a {
  color: #0000008f;
  font-weight: 500;
}

/* footer list */

.footer .another-footer-container .footer-dropdown-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 0 0;
  height: 459.91px;
  list-style: none;
  width: 100%;
}

#div-1,
#div-2,
#div-3,
#div-4,
#div-5 {
  /* display: grid; */
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: "SF Pro Display Regular", sans-serif;
}

.mobile-footer {
  width: 176px;
  height: 16px;
  height: fit-content;
  margin: 0 20px 9.6px 0;
}

#div-1 span,
#div-2 span,
#div-3 span,
#div-4 span,
#div-5 span {
  font-weight: 570;
}

#div-1 i,
#div-2 i,
#div-3 i,
#div-4 i,
#div-5 i {
  display: none;
}

.wrapped-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.wrapped-div.hide {
  display: none;
}

.wrapped-div div li {
  margin: 0 0 9.6px;
}

.wrapped-div div li a {
  text-decoration: none;
  color: #000000b8;
  opacity: 0.7;
}

/* footer bottom */

.gf-footer {
  border-top: 1px solid #0000008e;
  font-family: "SF Pro Display Regular", sans-serif;
  font-size: 12px;
  padding: 37px 0 11px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  opacity: 0.6;
}

.gf-footer #first-div {
  margin: 0 0 16px;
  padding: 0 0 19px;
}

.gf-footer #first-div a {
  color: #0066cc;
  opacity: 1;
  font-weight: 500;
}

.gf-footer #second-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gf-footer #second-div a {
  text-decoration: none;
  color: #000000b8;
  opacity: 1;
  font-weight: 500;
  padding: 0 9px 0 0;
  border-right: 1px solid #0000008e;
}

.gf-footer #second-div #last-a {
  border-right: none;
}

@media screen and (max-width: 940px) {
  /* footer with dropdown */
  .footer .another-footer-container .footer-dropdown-wrapper {
    height: fit-content;
    grid-template-columns: repeat(1, 5fr);
  }

  .mobile-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .mobile-footer i {
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    opacity: 0.7;
    margin: 0 0 0 12px;
  }

  #div-1,
  #div-2,
  #div-3,
  #div-4,
  #div-5 {
    display: grid;
  }

  #div-1 span,
  #div-2 span,
  #div-3 span,
  #div-4 span,
  #div-5 span {
    font-weight: 570;
    height: 36px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.75;
  }

  .wrapped-div div li {
    margin: 0;
    padding: 6px 14px;
  }

  #div-1 i,
  #div-2 i,
  #div-3 i,
  #div-4 i,
  #div-5 i {
    display: block;
  }

  .up-arrow.hide::before {
    display: none;
  }

  .down-arrow.hide::before {
    display: none;
  }

  .wrapped-div.hidden {
    display: none;
  }
}
/* MARKING THE END OF THE FOOTER SECTION */
