@media screen and (max-width: 1100px) {
    div.ul-container {
        display: none;
    }

    .navbar-container {
        justify-content: space-between;
    }
}

@media screen and (max-width: 930px) {

    body, html {
        font-size: 16px;
    }

    .nav-logo {
        justify-content: space-evenly;
    }

    .navbar-container {
        width: 100%;
        justify-content: space-between;
    }

    #menu-logo {
        display: flex;
    }

    /* dropdown navbar for bag logo */

    /* after clicking on the bag logo */
    .bag-dropdown .hide {
        display: none;
    }

    .navbar-container .hide {
        display: none;
    }
    /* ***************************************** */

    .bag-dropdown {
        height: 100%;
        min-width: 300px;
        top: 0;
        width: 100%;
        padding: 0;
        z-index: 1000;
    }

    .bag-dropdown .dropdown-container {
        margin: 0 48px;
    }

    .bag-dropdown #close-logo {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .bag-dropdown #close-logo i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        font-size: 24px;
    }

    .bag-dropdown .dropdown-container .item-container {
        height: 320px;
    }

    .bag-dropdown .dropdown-container .item-container .top-text {
        width: fit-content;
        height: 28px;
        margin: 0 0 30px;
        font-size: 28px;
        opacity: 0.85;
        white-space: nowrap;
    }

    .bag-dropdown .dropdown-container .item-container .top-text strong {
        font-family: "SF Pro Display Regular", sans-serif;
        font-weight: 200;
    }

    .bag-dropdown .dropdown-container .item-container #sign-in {
        width: fit-content;
        height: 22px;
        margin: 13.6px 0 0;
    }

    .bag-dropdown .dropdown-container .item-container #sign-in p, #my-profile {
        font-size: 16px;
        color: #6E6E73;
        letter-spacing: -0.0250px;
    }

    #my-profile {
        margin: 56px 0 0;
        padding: 0 0 7px;
        width: fit-content;
        font-size: 17px;
    }

    /* ul list */
    .my-profile-list {
        width: fit-content;
        height: 185px;
    }

    .my-profile-list li {
        width: 120px;
        height: 31.5px;
    }

    .my-profile-list li i, .my-profile-list li strong a {
        font-size: 16px;
    }

    /* marking the end of dropdown */
    /* hero section */

    .hero-section {
        height: 56vh;
    }

    .text-over-hero-img {
        top: 26%;
    }

    .text-over-hero-img strong {
        font-size: 36px !important;
        font-weight: 400;
    }

    .text-over-hero-img h3 {
        font-size: 19px;
        font-weight: 100;
        font-family: 'SF Pro Display Light', sans-serif;
        letter-spacing: -1.528px;
    }
    
    .button-wrap {
        height: 36px;
    }

    .button-wrap .learn-more, .button-wrap .buy {
        min-height: 44px;
    }

    .button-wrap .learn-more {
        width: 104px;
    }

    .button-wrap .buy {
        width: 62px;
    }

    /* iphone 15 and macbook air */

    .iphone15-section .text-over-hero-img, .macbook-air-section .text-over-hero-img {
        top: 23%
    }

    /* grid section */
    .grid-promo-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 504px);
        width: 100%;
        height: auto;
        padding: 12px 0 0 0;
        gap: 12px;
    }

    /* apple vision */

    .apple-vision .mobile-img {
        max-width: 100%;
        max-height: 500px;
        object-fit: cover;
        background-position: center;
    }
        /* wwdc 2024 */
    .wwdc-2024 {
        width: 100%;
        height: 100%;
    }

    /* images to appear */
    .hero-section .desktop-img {
        display: none;
    }

    .hero-section .mobile-img {
        display: inline-block;
    }

    /* slider images */

    .my-slider {
        margin-top: 16px;
        height: 495px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .slider-figure {
        width: calc(274px * 20);
        height: 100%;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        animation: scroll 100000s linear infinite;
    }

    .image-slider {
        min-width: 0;
        width: 274px;
        scroll-snap-align: start;
    }

    .image-slider img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    /* carousel */

    .carousel-slider {
    margin-left: 8px;
    margin-right: 8px;
    height: 160px;
    }

    .carousel-slider .carousel-figure {
    width: calc(238px * 12);
    min-width: 0;
    animation: pop 10000s linear infinite;
    }

    .carousel-slider .carousel-figure .image-slider {
    width: 238px;
    min-width: 0;
    }

    .carousel-slider .carousel-figure .image-slider img {
    width: 417px;
    height: 100%;
    }
}

/* make hero photo appear in a larger screen */