/* all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display Light", sans-serif;
}

*img {
    max-width: 100%;
    max-height: 100%;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    min-width: 300px;
}

header {
    height: 100%;
    width: 100%;
}

/* navigation bar */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: #252525;
    color: #f5f5f7;
    z-index: 1000;
    position: fixed;
}

.navbar-container a {
    padding: 0 8px;
    text-decoration: none;
    opacity: 0.85;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tv-home {
    white-space: nowrap;
}

.navbar-container a:hover {
    opacity: 1;
}

.navbar-container a i {
    color: #f5f5f7;
    text-decoration: none;
    font-size: 22px;
}

div.ul-container {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.ul-container .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: #f5f5f7;
    list-style: none;
    padding: 0 8px;
}

.ul-container .nav-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.85;
}

div .ul-container .nav-items li a {
    font-family: "SF Pro Display Light", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #f5f5f7;
}

ul.nav-items li:hover {
    opacity: 1;
}

/* right sided logo */
.nav-logo {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
.nav-logo a {
    opacity: 0.85;
    font-size: 22px;
    cursor: pointer;
    font-family: "SF Pro Display Bold", sans-serif;
}

.nav-logo i:hover {
    opacity: 1;
}

/* change later */
/* .navbar-container {
    display: none;
} */

/* bag logo */

#close-logo {
    display: none;
}

.bag-dropdown {
    width: 1080px;
    height: 461px;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
}

.bag-dropdown .dropdown-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0 84px;
}

.bag-dropdown .dropdown-container .item-container {
    width: 100%;
    height: 100%;
}

.bag-dropdown .dropdown-container .item-container .top-text {
    width: 100%;
    height: 28px;
    margin: 0 0 24px;
    font-size: 24px;
    opacity: 0.8;
}

.bag-dropdown .dropdown-container .item-container .top-text strong {
    font-family: "SF Pro Display Light", sans-serif;
    font-weight: 550;
}

.bag-dropdown .dropdown-container .item-container #sign-in {
    width: 100%;
    height: 17px;
    margin: 9.6px 0 0;
    font-size: 12px;
    color: #6E6E73;
    letter-spacing: -0.0250px;
}

.bag-dropdown .dropdown-container .item-container #sign-in p a {
    color: #0066CC;
}

#my-profile {
    margin: 36px 0 0;
    padding: 0 0 6px;
    width: 100%;
    font-size: 12px;
    opacity: 0.7;
}

/* ul list */
.my-profile-list {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
}

.my-profile-list li {
    width: 88.64px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.my-profile-list li i, .my-profile-list li strong a {
    margin-right: 10px;
    font-size: 12px;
    opacity: 0.9;
}

.my-profile-list li strong a {
    color: #6E6E73;
    text-decoration: none;
    font-family: "SF Pro Display Regular", sans-serif;
}

/* marking the end of the dropdown */

/* after clicking on the bag logo */
.bag-dropdown.hide {
    display: none;
}

.navbar-container.hide {
    display: none;
}

/* after clicking the close button */

/* **************************************** */

#menu-logo {
    display: none;
}

/* hero image */
.hero-section {
    position: relative;
    height: 76vh;
    width: 100%;
    padding-bottom: 12px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.text-over-hero-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22%;
    left: 50%;
    width: 100%;
    height: 18vh;
    transform: translate(-50%, -60%);
    align-items: center;
    justify-content: center;
    color: rgb(245, 245, 247);
    text-align: center;
    cursor: pointer;
}

.text-over-hero-img strong {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 56px !important;
    font-weight: 600;
    margin: 37px 20.602px 0px;
    max-width: 90%;
    letter-spacing: -0.28px;
    line-height: 36px;
}

.text-over-hero-img h3 {
    font-size: 28px;
    font-weight: 200;
    font-family: 'SF Pro Display Light', sans-serif;
    opacity: 0.9;
    letter-spacing: -2.196px;
    margin: 4px 0px;
    max-width: 100%;
}

/* button styling */
.button-wrap {
    display: flex;
    width: auto;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin: 17px 0px 0px 0px;
    font-weight: 100;
    letter-spacing: -0.374px;
    text-align: center;
}

.button-wrap .learn-more, .button-wrap .buy {
    /* display: inline-block; */
    font-family: "SF Pro Display Light", sans-serif;
    background-color: #0071E3;
    border-style: solid;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    padding: 7px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-width: 1.8px;
    font-weight: 100;
    letter-spacing: -0.224px;
    width: 100%;
    min-height: 54px;
}

.button-wrap .learn-more {
    width: 130px;
    height: 100%;
    border-color: #007bff;
}

.button-wrap .buy {
    background-color: #000;
    width: 74px;
    border-color: #007bff;
    color: #007bff;
    margin: 0 10px 0px;
}

.button-wrap .buy:hover, .buy a:hover {
    background-color: #0071E3;
    color: #fff;
}

.learn-more a, .buy a {
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    opacity: 0.90;
    font-weight: 100;
    letter-spacing: -0.728px;
}

.buy a {
    color: #007bff;
}


/* iphone 15, macbook air */
.iphone15-section, .macbook-air-section {
    position: relative;
}

.macbook-air-section .desktop-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.iphone15-section .text-over-hero-img, .macbook-air-section .text-over-hero-img {
    top: 20%;
    color: #000;
}

.iphone15-section .text-over-hero-img .button-wrap .buy,
.macbook-air-section .text-over-hero-img .button-wrap .buy {
    background-color:#f5f5f7;
}

/* grid section */
/* grid desktop */

.grid-promo-section {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 680px 680px 680px;
    width: auto;
    padding: 0 12px 12px 12px;
    grid-gap: 12px;
}

.wwdc-2024, 
.apple-vision,
.smart-watch, 
.trade-in-promo,
.macbook-air-section,
.card-promo {
    width: 100%;
    height: 100%;
}

.grid-promo-section .hero-section {
    padding-bottom: 0;
}

/* GRID 1 : WWDC 2024 */
.wwdc-2024 .text-over-hero-img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 82%;
}

.wwdc-2024 img {
    max-width: 100%;
    max-height: 100%;
}

.wwdc-2024 .text-over-hero-img .button-wrap button {
    margin-right: 15px;
    padding: 0;
}

/* GRID2 : SMART WATCH */
.smart-watch img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}


.smart-watch .text-over-hero-img {
    top: 20%;
}


.smart-watch .text-over-hero-img strong {
    font-weight: 500;
    margin: 37px 23.602px 0 20.602px;
}


.smart-watch .text-over-hero-img strong .ri-apple-fill {
    width: 38px;
    height: 38px;
    font-size: 38px;
    color: #f5f5f7;
}

.smart-watch .text-over-hero-img h6 {
    font-size: 14px;
    color: rgb(174, 10, 10);
}

/* GRID3 : APPLE VISION PRO */

.apple-vision .desktop-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.apple-vision .text-over-hero-img {
    color: #000;
    top: 80%;
}

.apple-vision .text-over-hero-img .button-wrap .learn-more {
    margin: 0 0 0 10px;
    padding: 7px 15px;
}

.apple-vision .text-over-hero-img .button-wrap .buy {
    background-color:#f5f5f7;
    margin: 0 20px 0 10px;
    padding: 7px 15px;
}

/* GRID4 : IPAD */
.ipad-promo img {
    max-width: 100%;
    max-height: 100%;
}

/* GRID5 : APPLE CARD */
.card-promo img {
    max-width: 100%;
    max-height: 100%;
}

.card-promo .text-over-hero-img strong .ri-apple-fill {
    font-size: 38px;
    color: #000
}

.card-promo .text-over-hero-img strong i, .card-promo .text-over-hero-img {
    color: #000;
}

.card-promo .text-over-hero-img .button-wrap .apply-now {
    width: 99px;
    background-color:#f5f5f7;
}

/* GRID6 : APPLE TRADE IN */

.trade-in-promo .text-over-hero-img .button-wrap button {
    width: 146px;
}

/* slider images */

.my-slider {
    height: 667px;
    width: 100%;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider-figure {
    display: flex;
    width: calc(607px * 20);
    height: 667px;
    position: absolute;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.image-slider {
    min-width: 1250px;
    min-height: 100%;
    margin: 0 8px;
    animation: pop 10000s linear infinite;
}

@keyframes pop {
    0% { transform: translateX(0);}
    10% { transform: translateX(-100%);}
    20% { transform: translateX(-200%);}
    30% { transform: translateX(-300%);}
    40% { transform: translateX(-400%);}
    50% { transform: translateX(-calc(100% * 5));}
    60% { transform: translateX(-calc(100% * 4));}
    70% { transform: translateX(-calc(100% * 3));}
    80% { transform: translateX(-calc(100% * 2));}
    90% { transform: translateX(-calc(100% * 1));}
    100% { transform: translateX(-calc(100% * 0));}
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
  

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: pop 100s linear infinite;
}

/* nav dots */
.nav-dots {
    margin-top: 3px;
    width: 100%;
    height: 25px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-nav-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 220px;
    height: 100%;
}

.dot {
    border: none;
    height: 8px;
    width: 8px;
    background-color: #1D1D1F;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.5;
}

.dot.active {
    background-color: #000;
    opacity: 1;
}

/* carousel */

.carousel-slider {
    width: 100%;
    height: 236px;
    margin-top: 6px;
}

.carousel-slider .carousel-figure {
    display: flex;
    width: calc(407px * 24);
    height: 100%;
    min-width: 0;
    align-items: center;
    justify-content: center;
}

.carousel-slider .carousel-figure .image-slider {
    width: 417px;
    height: 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slider .carousel-figure .image-slider img {
    position: relative;
    width: 417px;
    height: 100%;
    object-fit: cover;
    animation: pop 80s linear infinite;
}

/* pause and play to stop the carousel */
.pause-play {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pause-play-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 100%;
}

.pause-play-wrapper i {
    padding: 2px;
    font-size: 32px;
}

/* pause and play button control */
#play.hide, #pause.hide {
    display: none;
}

/* all images */
.hero-section.desktop-img {
    display: inline-block;
}

.hero-section .desktop-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.hero-img.mobile-img {
    display: none;
}

/* footer */

.footer {
    background-color: #dedede8f;
    width: 100%;
    height: fit-content;
}

.footer .another-footer-container {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 22px;
}

.footer .another-footer-container .footer-text-wrapper {
    padding: 17px 0 11px;
    width: 100%;
    border-bottom: 1px solid #0000008E;
}

.footer .another-footer-container .footer-text-wrapper .footer-text-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}

.footer .another-footer-container .footer-text-wrapper .footer-text-container li {
    width: 100%;
    padding: 0 0 9.6px;
    font-family: "SF Pro Display Regular";
    font-size: 12px;
    color: #0000008F;
}

.footer .another-footer-container .footer-text-wrapper .footer-text-container li a {
    color: #0000008F;
    font-weight: 500;
}

/* footer list */

.footer .another-footer-container .footer-dropdown-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 0 0;
    height: 459.91px;
    list-style: none;
    width: 100%;
}

#div-1, #div-2, #div-3, #div-4, #div-5 {
    display: grid;
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: "SF Pro Display Regular", sans-serif;
}

#div-1 span, #div-2 span, #div-3 span, #div-4 span, #div-5 span {
    margin: 0 20px 9.6px 0;
    font-weight: 570;
}

.wrapped-div {
    display: flex;
    flex-direction: column;
}

.wrapped-div div {
    margin: 0 20px 0 0;
    height: 100%;
}

.wrapped-div div li {
    margin: 0 0 9.6px;
}


.wrapped-div div li a {
    text-decoration: none;
    color: #000000B8;
    opacity: 0.7;
}

/* footer bottom */

.gf-footer {
    border-top: 1px solid #0000008E;
    font-family: "SF Pro Display Regular", sans-serif;
    font-size: 12px;
    padding: 37px 0 11px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    opacity: 0.6;
}

.gf-footer #first-div {
    margin: 0 0 16px;
    padding: 0 0 19px;
}

.gf-footer #first-div a {
    color: #0066CC;
    opacity: 1;
    font-weight: 500;
}

.gf-footer #second-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gf-footer #second-div a {
    text-decoration: none;
    color: #000000b8;
    opacity: 1;
    font-weight: 500;
    padding: 0 9px 0 0;
    border-right: 1px solid #0000008E;
}

.gf-footer #second-div #last-a {
    border-right: none;
}

